<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{parsePrice}}</p>
        <ul>
            <li v-for="item in nameList">
                {{item.name}} - {{item.age}}
            </li>
            <h1>姓名反转</h1>
            <p>computed是为了保护原始数据不受污染</p>
            <li v-for="item in reverseName">
                {{item.name}} - {{item.age}}
            </li>

        </ul>
    </div>
    <script>
        var nameColl = [
            {"name":"Amy",age:"18"},
            {"name":"Shieh",age:"22"},
            {"name":"alive",age:"23"},
        ]
        var app = new Vue({
            el:"#app",
            data:{
                price:100,
                nameList:nameColl
            },
            computed:{
                parsePrice:function () {
                    return this.price+"元"
                },
                reverseName:function () {
                    return this.nameList.reverse();
                }
            }
        })
    </script>
</body>
</html>