.pa{
  position: absolute;
}
.pr{
  position: relative;
}
#app{
  .mainCon{
    width: 100%;
    height: calc(100% - 67px);
    background-color: pink;
    //去掉地图角标
    .anchorBL{
      display: none;
    }
    #map{
      width: 100%;
      height: 100%;
      background-color: pink;
    }
    .component{
      @extend .pa;
      top: 20px;
    }
    .rootType{
      right:200px;
    }
    .orgSel{
      left:10px;
    }
  }
}
