#app{
  .nav{
    width: 100%;
    height: 65px;
    background-color: $deepBg;
    border-bottom:2px solid $lightPurple;
    li{
      @extend .fl;
      line-height: 65px;
      width: 100px;
      a{
        @extend .fullBox,.lineBlock;
        font-size: 14px;
        color: $white;
        text-align: center;
        //background-color: $lightPurple;
        &.router-link-active{
          background-color: $lightPurple;
        }
      }
    }
  }
}
