h1{
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  background: pink;
  i {
    display: contents;
    &.da-font {
      display: block;
      width: 100%;
      font-size: 64px;
      color: #3abc9d;
    }
  }
  p {
    width: 100%;
  }
}
