<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../assets/js/vue.js"></script>
</head>
<style>
    .classA{
        color:deeppink;
    }
    .classB{
        font-size: 120%;
    }
</style>
<body>
    <div id="app">
        <p><img :src="imgSrc" width="200px"></p>
        <p><a :href="url" target="_blank">博客地址</a></p>
        <hr>
        <div :class="className">绑定class</div>
        <div :class="{classB:isOk}">判断class</div>
        <div :class="[classA,classB]">class数组</div>
        <div :class="isOk?classA:classB">三元运算符</div>
        <div v-if="isLogin">
            {{msgLogin}}
        </div>
        <div v-else>
            {{msgLogout}}
        </div>
        <div v-show="isLogin">
            {{msg}}
        </div>
        <hr>
        <div>

            <label><input type="checkbox" v-model="isOk"> isOk = {{isOk}}</label>
        </div>
        <div :style="{color:red,fontSize:font}">绑定style</div>
        <div :style="styleObj">绑定style对象</div>

        <h1>v-for实例</h1>
        <ul>
            <li v-for="item in sortitems">{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(item,index) in sortStu">{{index+1}}: {{item.name}} - {{item.age}}</li>
        </ul>

        <hr>
        <p>原始信息：{{msg}} aaaa</p>
        <h3>文本框</h3>
        <p>v-model:<input type="text" v-model = "msg"></p>
        <p>v-model.lazy:<input type="text" v-model.lazy = "msg"></p>
        <p>v-model.number:<input type="text" v-model.number = "msg"></p>
        <p>v-model.trim:<input type="text" v-model.trim = "msg"></p>

        <hr>
        <h3>文本域</h3>
        <textarea cols="30" rows="10" v-model="msg"></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input id="test" type="checkbox" v-model="isLogin">
        <label for="test">isLogin: {{isLogin}}</label>

        <h3>多选框绑定数组</h3>
        <label><input type="checkbox" v-model="info" value="alive">alive</label>
        <label><input type="checkbox" v-model="info" value="amy">amy</label>
        <label><input type="checkbox" v-model="info" value="beibei">beibei</label>
        <div>
            {{info}}
        </div>
        <hr>
        <label><input type="radio" v-model="sex" value="男">男</label>
        <label><input type="radio" v-model="sex" value="女">女</label>
        <p>所选性别：{{sex}}</p>
        <hr>
        <p>本厂比赛得分：{{point}}</p>
        <p><button v-on:click="addPoint">+</button><button @click="multPoint">-</button></p>
        <input type="text" v-on:keyup.enter="onEnter" v-model="points">
        <hr>
        <h1>v-text</h1>
        <span v-text="msg"></span>
        <h1>v-html</h1>
        <span v-html="tag"></span>
        <h1>v-pre</h1>
        <div v-pre>{{msgLogin}}</div>
        <h1>v-cloak</h1>
        <div v-cloak>渲染完才显示</div>
        <h1>v-once</h1>
        只在第一次渲染时绑定数据，其他时候，数据不会被改变
        <div v-once>{{msgLogin}}</div>
        <div><input type="text" v-model="msgLogin"></div>
        <div>{{msgLogin}}</div>

        <hr>
        <div v-test="color">{{num}}</div>
        <p><input type="button" value="+" @click="add"></p>
    </div>
    <p>
        <button onclick="unbind()">解绑</button>
    </p>
<script>
    function unbind() {
        app.$destroy();
    }
    Vue.directive("test",{
        bind:function (el,binding) {
            console.log(el);
            console.log(binding);
            el.style = "color:"+binding.value
            console.log("1.绑定");
        },
        inserted:function () {
            console.log("2.插入");
        },
        update:function () {
            console.log("3.更新");
        },
        componentUpdated:function () {
            console.log("4.组件更新");
        },
        unbind:function () {
            console.log("5.解绑");
        }
    });
//    function (el,binding,vnode) {
//        console.log(el);
//        console.log(binding);
//        el.style = "color:"+binding.value
//    }
    var app = new Vue({
        el:"#app",
        data:{
            imgSrc:"../assets/images/0.png",
            url:"http://xiechangqing.com",
            msg:"show",
            sex:'男',
            msgLogin:"hello world",
            msgLogout:"please login",
            isLogin:false,
            className:'classA',
            isOk:true,
            classA:'classA',
            classB:'classB',
            red:'pink',
            font:'20px',
            styleObj:{
                color:'deeppink',
                fontSize:'40px'
            },
            items:[1994,7,19,19,94,1,9],
            stu:[
                    {name:"bive", age:20},
                    {name:"amy", age:18},
                ],
            info:[],
            point:0,
            points:1,
            tag:"<h1>testTag</h1>",
            num:10,
            color:"pink"
        },
        computed:{
            sortitems:function () {
                return this.items.sort(sortNum);
            },
            sortStu:function () {
                return sortByKey(this.stu,'age')
            },
        },
        methods:{
            addPoint:function () {
                this.point++
            },
            multPoint:function () {
                this.point--
            },
            onEnter:function () {
                this.point = this.point+ parseInt(this.points)
            },
            add:function () {
                this.num++;
            }
        }
    })
    function sortNum(a,b) {
        return a-b;
    }
    function sortByKey(array,key) {
        return array.sort(function (a,b) {
            var x = a[key];
            var y = b[key];
            return ((x<y)?-1:((x>y)?1:0))
        })
    }
</script>
</body>
</html>